body {
    background-color: white;
}

.center-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

header {
    margin-top: 20vh;
}

.main-section {
    align-items: center;
    margin: auto;
    border: rgb(196, 196, 196) 1px solid;
    border-radius: 5px;
    width: 80%;
    max-width: 1000px;
    min-height: 200px;
}